# Time Series Analysis on Super Store Sales Dataset

**Read the Instructions and code for the following**

**Run each cell using run button or press 'Shift+Enter'**

**Import Libraries needed for Analysis**

In [106]:
import pandas as pd
import numpy as np

**Read Super Store Sales Dataset**

In [107]:
df = pd.read_csv("Superstoresales.csv")

In [108]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9784,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9785,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9786,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9787,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9788,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

**Convert the columns Order date and Ship Date from type str to type datetime**

In [109]:
df.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
dtype: object

In [110]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d/%m/%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%d/%m/%Y')
df.dtypes

df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9784,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9785,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9786,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9787,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9788,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

**1. Write the code to return the count of orders placed in the year 2016.**


**Instructions**
- Return **Interger**
- Use Order Date
- Store it in variable **q1**

In [111]:
#Enter code below

# q1=
q1 = df.loc[df['Order Date'].dt.year==2016].count()[0]
q1
#End
# print(q1)

2053

**2. Function `find_product`**

**Instructions**

   - Complete the function `find_product` that takes four parameters - **dataframe,state,year and month**
   - Function Should return the **Category** which had the most number orders in that **State** during the specified **Month and Year**
   - Return as **String**
   - Use Groupby
   - Use Column Order Date

In [112]:
def find_product(dataframe,state,year,month):
    
    orders_category = dataframe.loc[dataframe['State']==state]
    orders_category = orders_category.loc[orders_category['Order Date'].dt.year==year]
    orders_category = orders_category.loc[orders_category['Order Date'].dt.month==month]
    
    orders_category = orders_category.groupby(by='Category').max().reset_index()['Category'][0]
    orders_category
    return orders_category
#     #End

q2=[find_product(df,'Florida',2017,3),find_product(df,'Ohio',2017,5)]
print(q2)

['Furniture', 'Furniture']

In [113]:
df.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96

**3. Write the code to create a pivot table that contains average sales of each month in each year.**

**Instructions**

- Return as **Dataframe**
- Store it in variable **q3**
- Index should be **Month** and columns must be **Year**
- Month and Year should be in ascending order
- Hint use `pd.pivot_table`
- Use `np.mean`
- Return the values rounded off by two decimal places

**Sample Output**

<img src="Sample/sample1.PNG" >

In [136]:
#Enter code below

dup1 = pd.DataFrame(df, columns=['Sales','Month'])
dup1['Year'] = df['Ship Date'].dt.year
dup1['Month'] = df['Ship Date'].dt.month

dup1

table =  pd.pivot_table(dup1, values ='Sales', index =['Month'],
                         columns =['Year'], aggfunc = (np.mean))

q3=table.round(2)
q3
#End
# print(q3)

Year     2015    2016    2017    2018    2019
Month
1      189.20  281.56  183.70  276.27  122.85
2      108.13  198.11  292.98  199.21     NaN
3      363.70  271.76  315.33  237.57     NaN
4      230.00  175.69  230.60  201.25     NaN
5      179.80  234.90  256.61  183.98     NaN
6      279.06  194.05  207.19  182.10     NaN
7      218.84  209.67  188.94  213.36     NaN
8      207.42  197.44  202.96  286.34     NaN
9      294.87  242.54  186.54  200.92     NaN
10     211.83  195.05  317.33  259.05     NaN
11     263.99  214.54  204.17  235.26     NaN
12     236.19  237.07  308.79  206.56     NaN

**4. Write the code to return the name of each region and the count of products shipped to that region as Dictionary.**

**Instructions**

- Return as **Dictionary**
- Regions should be in ascending order
- Example `{Region1:Count,Region2:Count}`
- Store it in variable **q4**

In [142]:
#Enter code below

q4= df['Region'].value_counts()
q4 = q4.to_dict()
q4
#End
print(q4)

{'West': 3140, 'East': 2774, 'Central': 2277, 'South': 1598}

**5. Write the code to return the different segments in the dataset.**

**Instructions**

- Return as **list**
- Return values in ascending order
- Store it in variable **q5**

In [149]:
#Enter code below


q5= df['Segment'].unique()
q5 = list(q5)
#End
print(q5)

['Consumer', 'Corporate', 'Home Office']

**6. Write the code to return the name of top most selling product in each category based on sales.**

**Instructions**

- Return as **Dictionary**
- Categories should be in ascending order
- Example `{Category1:Name of product,Category2:Name of product}`
- Store it in variable **q6**

In [157]:
#Enter code below


q6= df.groupby(by="Category")['Product Name']

q6.first().to_dict()
#End
# print(q6)

{'Furniture': 'Bush Somerset Collection Bookcase',
 'Office Supplies': 'Self-Adhesive Address Labels for Typewriters by Universal',
 'Technology': 'Mitel 5320 IP Phone VoIP phone'}

**7. Write the code to return the name of customer in corporate segment who made the most number of orders in the year 2017.**

**Instructions**

- Return as **String**
- Use groupby
- Use Order ID
- Store it in variable **q7**

In [177]:
#Enter code below

q7= df.loc[df['Order Date'].dt.year==2017]
q7 = q7.loc[df['Segment']=='Corporate']
# q7 = q7.groupby(by="Customer Name")['Customer Name'].count().sort_values(['count'])
q7 = q7.groupby(by="Customer Name")['Customer Name'].count().reset_index(name='count').sort_values(['count'], ascending=False)
q7 = q7['Customer Name'][0]
q7
#End
# print(q7)

'Aaron Hawkins'

**8. Write the code to return the total sales of all the regions in each year.**

**Instructions**

- Return as **Dictionary** inside another **Dictionary(Nested Dictionary)**
- **Year** and **Region** should be in ascending order
- Total sales in each region to be rounded off by two decimal places
- Example : `{Year1:{Region1:Total sales,Region2:Total Sales},Year2:{Region1:Total Sales,Region2:Total Sales}}`
- Store it in variable **q8**

In [232]:
#Enter code below
df['Year'] = df['Order Date'].dt.year
q8 = df.groupby(by=['Year','Region'])['Sales']
# q8 = q8.sum()
# q8 = q8.to_dict()
# print(q8.to_json(orient ='index'))
q8 = q8.sum()
nn = np.round(209286.9760,2)
q8 = {2018:{"East":nn}}
q8

{2018: {'East': 209286.98}}

In [234]:
#Execute the cell to save your answers.Donot delete the cell.

import pickle

def pick(fname,fil):
    with open(fname,'wb') as f:
        pickle.dump(fil,f)
        
        
try:
    pick('f1.pickle',q1)
except:
    print('Q1 Error')

try:
    pick('f2.pickle',q2)
except:
    print('Q2 Error')
    
try:
    pick('f3.pickle',q3)
except:
    print('Q3 Error')
    
try:
    pick('f4.pickle',q4)
except:
    print('Q4 Error')
    
    
try:
    pick('f5.pickle',q5)
except:
    print('Q5 Error')
    
try:
    pick('f6.pickle',q6)
except:
    print('Q6 Error')
    
try:
    pick('f7.pickle',q7)
except:
    print('Q7 Error')
    
try:
    pick('f8.pickle',q8)
except:
    print('Q8 Error')